<ion-view>
	<ion-nav-buttons side="left">
		<button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
	</ion-nav-buttons>
	<ion-nav-title>
		{{ 'faq.title' | translate }}
	</ion-nav-title>
	<ion-content class="padding has-header">
		<h2>Ali lahko grem v vse tukaj navedene lokacije z mojo živaljo?</h2>
		<p>Vse vire smo pobrali iz različnih virov (strani, forumov, ...) ampak 100% garancije zaenkrat ni. Delamo na tem, da bomo vsako lokacijo posamezno kontaktirali, da se bomo preppričali, ali res lahko k njim pridete z živaljo! Vsaka potrjena lokacija, bo zraven imena imela kljukico (<i class="icon ion-checkmark-circled"></i>).</p>
	</ion-content>
</ion-view>