<div ng-controller="PlacesListController as placesListScope">
	<ion-header-bar class="bar-positive">
		<img src="img/icon_small.png" alt="Logo" style="padding-right: 20px;" />
		<h1 class="title">
			{{ 'places.list.title' | translate }}
			(<span ng-bind="(placesScope.places | filter : placesScope.searchText | filter : placesScope.filterByType).length">0</span>)
		</h1>
		<div class="buttons">
			<button menu-toggle="right" class="button button-icon icon ion-funnel"></button>
		</div>
	</ion-header-bar>
	<ion-content class="has-header">
		<div class="list">
			<a class="item" bindonce
				collection-repeat="place in placesScope.places | filter : placesScope.searchText | orderBy : placesScope.orderByFilter | filter : placesScope.filterByType track by place.id"
				collection-item-height="116"
				style="display: block; width: 100%;" 
				ui-sref="places.detail({ id : place.id, hideMenu : true })"
				ng-class="{ featured : place.isFeatured }">
				<h2>
					<i class="icon ion-star" ng-show="place.isPremium"></i>
					{{ place.name }}
					<i class="icon ion-checkmark-circled" ng-show="place.isVerified"></i>
				</h2>
				<p>
					<i class="icon ion-location"></i>
					{{ place.location.full }}
				</p>
				<div class="row">
					<div class="col">
						<i class="icon ion-bookmark"></i>
						{{ placesScope.placeTypeToHumanType( place.type ) }}
					</div>
					<div class="col text-right">
						<i class="icon ion-map"></i>
						{{ place.distanceFromMyself || 'neznano' }} km
					</div>
				</div>
			</a>
			<div class="item" ng-show="( placesScope.places | filter : placesScope.searchText | filter : placesScope.filterByType ).length == 0 && placesScope.places.length > 0 && placesScope.placesLoaded" style="white-space: normal;">
				{{ 'places.noneFoundWithThisCriteria' | translate }}<span ng-show="placesScope.searchText != ''"> {{ 'posts.andKeyword' | translate }} <b>{{ placesScope.searchText }}</b></span>.
			</div>
			<div class="item" ng-show="placesScope.places.length == 0">
				{{ 'places.noneFound' | translate }}
			</div>
		</div>
	</ion-content>
</div>